<%
  link_object = if @work
    # nested under work
    [@work, quote]
  else
    [quote.work, quote]
  end
%>

<div id="<%= dom_id quote %>">
  <i class="small-text">
    <% unless @work %>
      <%= quote.work.reference.short_title_line %>,
    <% end %>
    p. <%= [quote.page, quote.custom_citation].map(&:presence).compact.join(", ") %>
  </i>:
  <%= quote.text.truncate(75) %>   
  <%= pipe_spacer %>
  <%= pointer_link(link_object) %>
</div>
