<p style="color: green"><%= notice %></p>

<b>Quotes for <%= @work.title %></b>

<div class="outline">
<ul id="quotes">
  <% if @quotes.empty? %>
    <span class="empty-list">EMPTY</span>
  <% else %>
    <% @quotes.each do |quote| %>
      <li>
        <%= link_to quote.text.truncate(30), [@work, quote], class: "index-link" %>
      </li>
    <% end %>
  <% end %>
</ul>
</div>

<div class="nav-links outline">
  <%= link_to "Back to Book", @work, class: "nav-button" %>
  <%= link_to "New quote", new_work_quote_path(@work), class: "nav-button nav-action" %>
</div>