<b class="minor-heading">New Quote for <span class="work-title-alt"><%= @work.title %></span></b>

<div class="outline">
  <%= render "form", quote: @quote %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back to Book Quotes", work_quotes_path(@work), class: "nav-button" %>
  <%= link_to "Back to All Quotes", quotes_path, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class:"nav-button" %>
</div>