<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @quote %>" class="outline">
  <%# TODO: remove these %>
  <div>
    <b>Page: </b>
    <%= @quote.page %>
  </div>
  <div>
    <b>Custom Citation: </b>
    <%= @quote.custom_citation %>
  </div>
  <br>

  <div class="book-card outline bibliography-citation small-text">
    <%= raw markdown.render(@quote.citation_markdown) %>
  </div>

  <div class="quote-card outline bibliography-citation">
    <%= @quote.text %>
  </div>
</div>

<div class="nav-links outline" data-controller="confirmable">
  <%= link_to "Back to Book Quotes", work_quotes_path(@work), class: "nav-button" %>
  <%= link_to "Back to All Quotes", quotes_path, class: "nav-button" %>
  <%= link_to "Edit this Quote", edit_work_quote_path([@work, @quote]), class: "nav-button nav-action" %>
  <%= html_delete_button [@work, @quote], "Destroy this Quote" %>
</div>