<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @quote %>" class="outline">
  <div>
    <%= @work.title %>
  </div>
  <br>
  <div>
    <b>Page: </b>
    <%= @quote.page %>
  </div>
  <div>
    <b>Section: </b>
    <%= @quote.section %>
  </div>
  <br>
  <div>
    <%= @quote.text %>
  </div>
</div>

<div class="nav-links outline">
  <%= link_to "Back to Book Quotes", work_quotes_path(@work), class: "nav-button" %>
  <%= link_to "Back to All Quotes", quotes_path, class: "nav-button" %>
  <%= link_to "Edit this Quote", edit_work_quote_path([@work, @quote]), class: "nav-button nav-action" %>
  <%= link_to "Destroy this Quote", [@work, @quote], method: :delete, class: "nav-button nav-action", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>