<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @quote %>" class="outline">
  <% if @quote.custom_citation %>
    <b class="label-above small-text">Custom Citation</b>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@quote.custom_citation) %>
    </div>
  <% end %>

  <% if @quote.citation? %>
    <b class="label-above small-text">Long Citation</b>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@quote.long_citation_markdown) %>
    </div>

    <b class="label-above small-text">Short Citation</b>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@quote.short_citation_markdown) %>
    </div>
  <% end %>

  <b class="label-above small-text">Quote</b>
  <div class="quote-card outline">
    <%= raw markdown.render(@quote.text) %>
  </div>
</div>

<div class="nav-links outline" data-controller="confirmable">
  <%= link_to "Back to Book Quotes", work_quotes_path(@work), class: "nav-button" %>
  <%= link_to "Back to All Quotes", quotes_path, class: "nav-button" %>
  <%= link_to "Edit this Quote", edit_work_quote_path([@work, @quote]), class: "nav-button nav-action" %>
  <%= html_delete_button [@work, @quote], "Destroy this Quote" %>
</div>