<div id="<%= dom_id note %>">
  <i class="small-text">
    <%= human_time_for(note.updated_at) %>
  </i> : <%= note.text.truncate(75) %>
  <%= pipe_spacer %>
  <%= pointer_link([@work, note]) %>
</div>

<%# TODO: general notes index, partials, like for quotes %>