<p style="color: green"><%= notice %></p>

<b>Notes for <i><%= @work.title %></i></b>
<hr>

<div id="notes" class="scrollable">
  <% @notes.each do |note| %>
    <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
      <i class="small-text stars"><%= human_updated_at(note) %></i> : <%= note.text.truncate(100) %> | <%= link_to "👉", [@work, note], class: "index-link" %>
    <% end %>
  <% end %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back to Book", @work, class: "nav-button" %>
  <%= link_to "New note", new_work_note_path(@work), class: "nav-button nav-action"  %>
</div>