<b>
  Notes for
  <span class="work-title-alt">
    <%= @notable.try(:title) || @notable.try(:full_name) %>
  </span>
</b>
<hr>
<div id="notes" class="scrollable">
  <%= render("shared/alternating_list", collection: @notes) %>
</div>
<hr>
<div class="nav-links">
  <%= link_to "Back", @notable, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class:"nav-button" %>
  <%= link_to "New Note", notable_new_note_path(@notable), class: "nav-button nav-action-safe"  %>
</div>