<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @note %>" class="outline">
  <i class="small-text stars">
  <%= human_updated_at(@note) %>
  </i>
  <br>
  <br>
  <%= @note.text.truncate(100) %>
</div>

<hr>

<div class="nav-links" data-controller="confirmable">
  <%= link_to "Edit this note", edit_work_note_path([@work, @note]), class: "nav-button nav-action" %>
  <%= link_to "Back to notes", work_notes_path(@work), class: "nav-button" %>

  <%= html_delete_button [@work, @note], "Destroy this note" %>
</div>
