<div id="<%= dom_id @note %>" class="outline">
  <i class="small-text quantity">
  <%= human_time_for(@note.updated_at) %>
  </i>
  <br>
  <br>
  <%= @note.text.truncate(100) %>
</div>

<hr>

<div class="nav-links" data-controller="confirmable">
  <%= link_to "Edit Note", notable_edit_note_path([@notable, @note]), class: "nav-button nav-action" %>
  
  <%= link_to "Back", notable_notes_path(@notable), class: "nav-button" %>

  <%= html_delete_button [@notable, @note], "Destroy" %>
</div>
