<div id="<%= dom_id reading_session %>">
  <div>
    <b class="small-text">Started at:</b>
    <span class="quantity"><%= human_time_for(reading_session.started_at) %></span>
    ,
    <b class="small-text">Ended at:</b>
    <span class="quantity"><%= human_time_for(reading_session.ended_at) %></span>
  </div>

  <div>
    <b class="small-text">Pages:</b>
    <span class="quantity"><%= reading_session.pages %></span>
  </div>

  <div>
    <b class="small-text">Duration:</b>
    <span class="quantity">
      <%= human_duration(reading_session.duration) %>
    </span>
  </div>
</div>
<div>
  <%= pointer_link([@work, reading_session]) %>
</div>