<b class="minor-heading">Editing reading session</b>

<%= render "form", reading_session: @reading_session %>

<br>

<div>
  <%= link_to "Back to reading sessions", reading_sessions_path %>
</div>

<hr>
<div class="nav-links">
  <%= link_to "Back to Reading Sessions", work_reading_sessions_path(@work), class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class:"nav-button" %>
  <%= link_to "Show", [@work, @reading_session], class: "nav-button" %>
</div>