<p style="color: green"><%= notice %></p>

<b class="minor-heading">Reading Sessions for <i><%= @work.title %></i></b><br><br>
Count: <b class="stars"><%= @work.reading_sessions.count %></b><br>
Aggregate Time: <b class="stars"><%= human_duration(@work.reading_sessions_minutes) %></b>

<hr>

<div id="reading_sessions">
  <% @reading_sessions.each do |reading_session| %>
    <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
      <%= render reading_session %>
      <div>
        <%= link_to "👉", [@work, reading_session], class: "index-link" %>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<div class="nav-links">
  <%= link_to "Back to Book", @work, class: "nav-button" %>
  <%= link_to "New reading session", new_work_reading_session_path(@work), class: "nav-button nav-action" %>
</div>