<%=
  form_with(
    model: work,
    html: { class: "table-form" },
    data: {
      controller: "works",
      works_id_value: @work.id,
      works_tags_value: @work.tags,
      works_request_helper_outlet: ".request-helper"
    }
  ) do |form|
%>
  <%= render("shared/form_errors", form: form) %>

  <% if action_name.in?(["new", "clone_work"]) %>
    <%= form.label :clone_work, "Clone existing work" %>
    <%=
      select_tag(
        "clone_work",
        options_for_select(@clone_options),
        {
          include_blank: "Select Work",
          class: "select-button",
          data: {
            action: "change->works#cloneWork"
          }
        }
      )
    %>
    <hr>
    <hr>
  <% end %>

  <%= form.label :supertitle %>
  <%= form.text_field :supertitle %>

  <%= form.label :title %>
  <%= form.text_field :title, { placeholder: "required" } %>

  <%= form.label :subtitle %>
  <%= form.text_field :subtitle %>

  <%= form.label :alternate_title %>
  <%= form.text_field :alternate_title %>

  <%= form.label :foreign_title %>
  <%= form.text_field :foreign_title %>

  <%= form.label :year_of_composition %>
  <%= form.number_field(:year_of_composition) %>

  <%= form.label :year_of_publication %>
  <%= form.number_field :year_of_publication %>

  <%= form.label :date_of_accession %>
  <%= form.date_field :date_of_accession %>

  <%= form.label :accession_note %>
  <%= form.text_field :accession_note %>

  <%= form.label :date_of_completion %>
  <%= form.date_field :date_of_completion %>

  <%= form.label :rating %>
  <%= form.number_field(:rating, in: (-1..5)) %>

  <%= form.label :publishing_format %>
  <%= form.select(:publishing_format, options_for_select(@publishing_format_options, @work.publishing_format)) %>

  <%= form.label :custom_citation, "Custom Citation (Markdown)", class: "small-text" %>
  <%= form.text_field :custom_citation %>

  <%= form.label :language %>
  <%= form.text_field :language, { list: "work_languages_datalist" } %>
  <%=
    render_datalist_options({
      list: "work_languages_datalist",
      select_options: @language_options
    })
  %>

  <%= form.label :original_language %>
  <%= form.text_field :original_language, { list: "work_original_languages_datalist" } %>
  <%=
    render_datalist_options({
      list: "work_original_languages_datalist",
      select_options: @language_options
    })
  %>

  <hr>
  <hr>

  <div class="label-group">
    <%= form.label :publisher %>
    <%= link_to(build_publisher_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Publisher &nbsp;+
        <% end %>
    <%= select_tag("publishers", options_for_select(@publisher_options), { include_blank: "Select Publisher", class: "select-button", data: { action: "change->works#selectPublisher" }}) %>
  </div>

  <div class="subFormListSection" id="sub_form_list_publisher" data-controller="dismissable">
    <% if @publisher %>
      <div class="outline subFormContainer" data-dismissable-target="subForm">
        <%= form.hidden_field :publisher_id, value: work.publisher_id %>
        <div class="subform-line">
          <b>Name:</b>
          <%= text_field_tag(:_publisher_name, work.publisher&.name, readonly: true) %>
        </div>

        <div class="subform-line">
          <b></b>
          <span class="undo-label">
            <%= form.check_box :_clear_publisher %>
            <b class="danger">Undo</b>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <hr>
  <hr>

  <div class="label-group">
    <%= form.label :producers do %>
      Authors
    <% end %>
    <%= link_to(build_producer_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Author &nbsp;+
    <% end %>
    <%= select_tag("authors", options_for_select(@producer_options), { include_blank: "Select Author", class: "select-button", data: { action: "change->works#selectProducer" }}) %>
  </div>

  <div id="sub_form_list_producers" data-controller="dismissable">
    <% @work_producers.each do |work_producer| %>
      <div class="outline subFormContainer" data-dismissable-target="subForm" data-works-target="producerSubForm" data-producer-id="<%= work_producer.producer_id %>">
        <%= form.fields_for :work_producers, work_producer do |t| %>
          <%= t.hidden_field :id %>

          <% if work_producer.producer_id.present? %>
            <%= t.hidden_field :producer_id %>
          <% end %>

          <div class="subform-line">

            <b>Name:</b>
            <%= text_field_tag(:_producer_name, work_producer.producer.full_name, readonly: true) %>
          </div>

          <div class="subform-line">
            <b>Role:</b>
            <%= t.text_field(:role, readonly: true) %>
          </div>

          <div class="subform-line">
            <b></b>
            <span class="undo-label">
              <%= t.check_box :_destroy %>
              <b class="danger">Undo</b>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr>
  <hr>

  <div class="label-group">
    <%= form.label :tags do %>
      Tag
    <% end %>
    <%= link_to(build_tag_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
      New Tag &nbsp;+
    <% end %>
    <%= select_tag("tags", options_for_select(@tag_options), { include_blank: "Select Tag", class: "select-button", data: { action: "change->works#selectTag" }}) %>
  </div>

  <div id="sub_form_list_tags" data-controller="dismissable">
    <% if work.tags.any? %>
      <% work.tags.each.with_index do |tag, i| %>
        <div class="outline subFormContainer" data-dismissable-target="subForm" data-works-target="tagSubForm" data-tag="<%= tag %>">
          <div class="subform-line">
            <b>Tag:</b>
            <%= text_field_tag("work[tags][]", tag, readonly: true) %>
          </div>

          <div class="subform-line">
            <b><%# spacer %></b>
            <span class="undo-label">
              <%= check_box_tag :_destroy, { data: { action: "click->dismissable#formDismiss"}} %>
              <b class="danger">Undo</b>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <hr>
  <hr>

  <div class="label-group">
    <%= form.label :parent do %>
      Parent Work
    <% end %>
    <%=
      link_to(
        build_parent_works_path(work_id: @work.try(:id)),
        class: "link-button", data: { turbo_stream: true }
      ) do
    %>
      New Parent Work &nbsp;+
    <% end %>

    <%=
      select_tag(
        "parent_work",
        options_for_select(@parent_options),
        {
          include_blank: "Select Parent Work",
          class: "select-button",
          data: { action: "change->works#selectParent" }
        }
      )
    %>
  </div>

  <div id="sub_form_list_parent" data-controller="dismissable">
    <% if work.parent %>
      <div class="outline subFormContainer" data-dismissable-target="subForm">
        <%= form.hidden_field :parent_id, value: work.parent_id %>
        <div class="subform-line">
          <b>Title:</b>
          <%# display only; ignore on submit %>
          <%= text_field_tag(:_parent_title, work.parent&.title, readonly: true) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <%= form.check_box :_clear_parent %>
            <b class="danger">Undo</b>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <hr>
  <hr>

  <%= form.submit %>
<% end %>