<%= form_with(model: work) do |form| %>
  <%= render("shared/form_errors", form: form) %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <hr>
  <div>
    <div style="border: 1px solid #ccc; padding: 1em; width: 12em; margin-bottom:1em;">
      <%= form.fields_for :producers, @work.producers.build do |t| %>
        <%= t.label :name %>
        <%= t.text_field :name, list: "producers_autocomplete" %>
        <datalist id="producers_autocomplete">
          <%= options_for_select(@producer_options) %>
        </datalist>
        <br>
      <% end %>
    </div>
    <%# use more than one of these ^^^ to pass a collection, no modification needed. %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>