<%= form_with(model: work, data: { controller: "works", works_producers_value: @producer_options, works_producercount_value: @work.producers.size }) do |form| %>
  <%= render("shared/form_errors", form: form) %>
  <ul class="flex-outer">
    <li>
      <%= form.label :title %>
      <%= form.text_field :title, { placeholder: "book title required" } %>
    </li>
    <li>
      <p>
      Authors
      <br>
      <%= link_to("New Author +", nil, { data: { action: "click->works#appendForm" }}) %>
      </p>
      <ul class="flex-inner" data-works-target="newProducerList">
        <%# JS %>

        <% @work.producers.each do |producer| %>
          <li class="appendedProducerForm">
            <%= form.fields_for :producers, producer do |t| %>
              <%= t.hidden_field :id %>

              <b><%= producer.name %></b>

              <label><%= t.check_box :_destroy %> remove</label>
              <br>
            <% end %>
          </li>
        <% end %>

      </ul>
    </li>
    <li>
      <%= form.button "Submit", type: "submit", name: "commit", value: "Submit", data: { disable_with: "Submit" } %>
    </li>
  </ul>
<% end %>