<%= form_with(model: work, data: { controller: "works" }) do |form| %>
  <%= render("shared/form_errors", form: form) %>
  <ul class="flex-outer">
    <li>
      <%= form.label :title %>
      <%= form.text_field :title, { placeholder: "book title required" } %>
    </li>
    <li>
      <p>
      Authors
      <br>
      <%= link_to("New Author +", build_producer_work_path(@work), data: { turbo_stream: true }) %>
      </p>
      <ul class="flex-inner" data-works-target="newProducerList" id="new_producers_list">
        <%# TURBO %>
        <% @work.producers.each do |producer| %>
          <%= render("works/producer", form: form, producer: producer) %>
        <% end %>
      </ul>
    </li>
    <li>
      <%= form.button "Submit", type: "submit", name: "commit", value: "Submit", data: { disable_with: "Submit" } %>
    </li>
  </ul>
<% end %>