<%= form_with(model: work, html: { class: "table-form" }, data: { controller: "works",  works_id_value: @work.id, works_request_helper_outlet: ".request-helper" }) do |form| %>
  <%= render("shared/form_errors", form: form) %>

  <%= form.label :title %>
  <%= form.text_field :title, { placeholder: "title required" } %>

  <%= form.label :subtitle %>
  <%= form.text_field :subtitle %>

  <%= form.label :alternate_title %>
  <%= form.text_field :alternate_title %>

  <%= form.label :foreign_title %>
  <%= form.text_field :foreign_title %>

  <%= form.label :year_of_composition %>
  <%= form.number_field(:year_of_composition, class: "correct-width") %>

  <%= form.label :year_of_publication %>
  <%= form.number_field :year_of_publication, class: "correct-width" %>

  <%= form.label :rating %>
  <%= form.number_field(:rating, class: "correct-width", in: (-1..5)) %>

  <%= form.label :format %>
  <%= form.select(:format, options_for_select(@format_options, @work.format), class: "correct-width") %>

  <%= form.label :custom_citation, "Custom Citation (Markdown)", class: "small-text" %>
  <%= form.text_field :custom_citation %>

  <%# LANGUAGE DROPDOWN %>
  <%= form.label :language %>
  <%# https://github.com/rails/rails/pull/52137 %>
  <%= form.text_field :language, { list: "work_languages_datalist", class: "correct-width-2" } %>
  <%=
    content_tag(
      :datalist,
      nil, {
        id: :work_languages_datalist,
        'data-autocomplete-input-target' => :datalist
      }
    ) do %>
    <% @language_options.each do |language| %>
      <%=
        content_tag(
          :option,
          nil,
          value: language,
          'data-autocomplete-input-target' => 'datalistOption'
        )
      %>
    <% end %>
  <% end %>

  <%# ORIGINAL LANGUAGE DROPDOWN %>
  <%= form.label :original_language %>
  <%# https://github.com/rails/rails/pull/52137 %>
  <%= form.text_field :original_language, { list: "work_original_languages_datalist", class: "correct-width-2" } %>
  <%= content_tag(:datalist, nil, id: :work_original_languages_datalist, 'data-autocomplete-input-target' => :datalist) do %>
    <% @language_options.each do |original_language| %>
      <%=
        content_tag(
          :option,
          nil,
          value: original_language,
          'data-autocomplete-input-target' => 'datalistOption'
        )
      %>
    <% end %>
  <% end %>

  <hr>
  <hr>

  <%# PUBLISHER DROPDOWN %>
  <div class="label-group">
    <%= form.label :publisher %>
    <%= link_to(build_publisher_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Publisher &nbsp;+
        <% end %>
    <%= select_tag("publishers", options_for_select(@publisher_options), { include_blank: "Select Publisher", class: "select-button", data: { action: "change->works#selectPublisher" }}) %>
  </div>
  <div class="subFormListSection" id="sub_form_list_publisher" data-controller="dismissable">
    <% if work.publisher %>
      <%# ONLY 1 %>
      <div class="outline subFormContainer" data-dismissable-target="subForm">
        <%= form.hidden_field :publisher_id, value: work.publisher_id %>
        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Name:</b>
          <%# COLUMN 2 %>
          <%# display only; ignore on submit %>
          <%= text_field_tag(:_publisher_name, work.publisher&.name, readonly: true) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <%= form.check_box :_clear_publisher %>
            <b class="danger">Undo</b>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <hr>
  <hr>

  <%# PRODUCER DROPDOWN %>
  <div class="label-group">
    <%= form.label :producers do %>
      Authors
    <% end %>
    <%= link_to(build_producer_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Author &nbsp;+
    <% end %>
    <%= select_tag("authors", options_for_select(@producer_options), { include_blank: "Select Author", class: "select-button", data: { action: "change->works#selectProducer" }}) %>
  </div>
  <div id="sub_form_list_producers" data-controller="dismissable">
    <% @work_producers.each do |work_producer| %>
      <div class="outline subFormContainer" data-dismissable-target="subForm">
        <%= form.fields_for :work_producers, work_producer do |t| %>
          <%= t.hidden_field :id %><%# work_producer id %>

          <div class="subform-line">
            <%# COLUMN 1 %>
            <b>Name:</b>

            <%# COLUMN 2 %>
            <%# display only; ignore on submit %>
            <%= text_field_tag(:_producer_name, work_producer.producer.full_name, readonly: true) %>
          </div>

          <div class="subform-line">
            <b>Role:</b>

            <%# display only; ignore on submit %>
            <%= text_field_tag(:_work_producer_role, work_producer.role.titleize, readonly: true) %>
          </div>

          <div class="subform-line">
            <b><%# spacer %></b>
            <span class="undo-label">
              <%= t.check_box :_destroy %>
              <b class="danger">Undo</b>
            </span>
          </div>
        <% end %>
      </div>
    <% end %>
    <%# turbo_stream.append %>
  </div>

  <hr>
  <hr>

  <%# TAG DROPDOWN %>
  <div class="label-group">
    <%= form.label :tags do %>
      Tag
    <% end %>
    <%= link_to(build_tag_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
      New Tag &nbsp;+
    <% end %>
    <%= select_tag("tags", options_for_select(@tag_options), { include_blank: "Select Tag", class: "select-button", data: { action: "change->works#selectTag" }}) %>
  </div>
  <div id="sub_form_list_tags" data-controller="dismissable">
    <% if work.tags.any? %>
      <% work.tags.each.with_index do |tag, i| %>
        <div class="outline subFormContainer" data-dismissable-target="subForm">
          <div class="subform-line">
            <b>Tag:</b>
            <%= text_field_tag("work[tags][]", tag, readonly: true) %>
          </div>

          <div class="subform-line">
            <b><%# spacer %></b>
            <span class="undo-label">
              <%= check_box_tag :_destroy, { data: { action: "click->dismissable#formDismiss"}} %>
              <b class="danger">Undo</b>
            </span>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>

  <hr>
  <hr>

  <%# PARENT DROPDOWN %>
  <div class="label-group">
    <%= form.label :parent do %>
      Parent Work
    <% end %>
    <%=
      link_to(
        build_parent_works_path(work_id: @work.try(:id)),
        class: "link-button", data: { turbo_stream: true }
      ) do
    %>
      New Parent Work &nbsp;+
    <% end %>

    <%=
      select_tag(
        "parent_work",
        options_for_select(@parent_options),
        {
          include_blank: "Select Parent Work",
          class: "select-button",
          data: { action: "change->works#selectParent" }
        }
      )
    %>
  </div>

  <div id="sub_form_list_parent" data-controller="dismissable">
    <% if work.parent %>
      <%# ONLY 1 %>
      <div class="outline subFormContainer" data-dismissable-target="subForm">
        <%= form.hidden_field :parent_id, value: work.parent_id %>
        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Title:</b>
          <%# COLUMN 2 %>
          <%# display only; ignore on submit %>
          <%= text_field_tag(:_parent_title, work.parent&.title, readonly: true) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <%= form.check_box :_clear_parent %>
            <b class="danger">Undo</b>
          </span>
        </div>
      </div>
    <% end %>

    <%# turbo_stream.append %>
  </div>

  <hr>
  <hr>

  <%= form.submit %>
<% end %>