<%= form_with(model: work, data: { controller: "works",  works_id_value: @work.id }) do |form| %>
  <%= render("shared/form_errors", form: form) %>
  <ul class="flex-outer">
    <%# ROW 1 %>
    <li>
      <%# COLUMN 1 %>
      <%= form.label :title %>

        <%# COLUMN 2 %>
      <%= form.text_field :title, { placeholder: "book title required" } %>
    </li>

    <%# ROW 2 %>
    <li>
      <%# COLUMN 1 %>
      <p>
        Authors
        <br><br>

        <span style="margin-left: 1em; font-size: smaller">
          <%= link_to(build_producer_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Author &nbsp; &nbsp;+
        <% end %>
        </span>

        <br><br>
        <span style="margin-left: 1em; font-size: smaller">
          <%= select_tag("authors", options_for_select(@producer_options), { include_blank: "Select Author", class: "select-button", data: { action: "change->works#selectProducer" }}) %>
        </span>
      </p>

      <%# COLUMN 2 %>
      <div id="sub_form_list" data-controller="dismissable">
        <% @work_producers.each do |work_producer| %>
          <div class="subFormContainer" data-dismissable-target="subForm">
            <%= form.fields_for :work_producers, work_producer do |t| %>
              <%= t.hidden_field :id %>

              <div class="subform-line">
                <i style="font-size: smaller;"><%= work_producer.role.titleize %>:</i>
                <%= t.fields_for :producer_attributes, t.object.producer do |tt| %>
                  <%= tt.text_field :name, readonly: true %>
                <% end %>
              </div>

              <div class="subform-line">
                <span class="check-label" style="position:relative; top:2px; right: 4px">
                  <%= t.check_box :_destroy %><b style="position:relative; bottom:3px;font-size:smaller;color: red">undo</b>
                </span>
              </div>

            <% end %>
          </div>
       <% end %>
      </div>

    </li>

    <%# ROW 3 %>
    <li>
      <%# COLUMN 1 %>
      <%= form.button "Submit", type: "submit", name: "commit", value: "Submit", data: { disable_with: "Submit" } %>
    </li>
  </ul>
<% end %>