<%= form_with(model: work, data: { controller: "works",  works_id_value: @work.id }) do |form| %>
  <%= render("shared/form_errors", form: form) %>
  <ul class="flex-outer">
    <%# ROW 1 %>
    <li>
      <%# COLUMN 1 %>
      <%= form.label :title, class: "bold-label" %>

        <%# COLUMN 2 %>
      <%= form.text_field :title, { placeholder: "book title required" } %>
    </li>

    <%# ROW 2 %>
    <li>
      <p>
        <span class="bold-label">Publisher</span>
        <br><br>

        <span class="indented label-text">
          <%= link_to(build_publisher_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Publisher &nbsp; &nbsp;+
        <% end %>
        </span>

        <br><br>
        <span class="indented label-text">
          <%= select_tag("publishers", options_for_select(@publisher_options), { include_blank: "Select Publisher", class: "select-button", data: { action: "change->works#selectPublisher" }}) %>
        </span>
      </p>

      <%# COLUMN 2 %>
      <div id="sub_form_list_publisher" data-controller="dismissable">
        <% if work.publisher %>
          <%# ONLY 1 %>
          <div class="outline subFormContainer" data-dismissable-target="subForm">
            <%= form.hidden_field :publisher_id, value: work.publisher_id %>
            <div class="subform-line">
              <%# COLUMN 1 %>
              <b class="label-text label-column">
                <span class="midline-offset">
                  Name:
                </span>
              </b>
              <%# COLUMN 2 %>
              <%# display only; ignore on submit %>
              <%= text_field_tag(:_publisher_name, work.publisher&.name, readonly: true) %>
            </div>

            <%# FULL COLUMN %>
            <div class="subform-line" style="justify-content: flex-end;">
              <%= form.check_box :_clear_publisher %>
              <b class="label-text danger" style="position:relative; top: 1px">Undo</b>
            </div>
          </div>
        <% end %>
      </div>
    </li>

    <%# ROW 3 %>
    <li>
      <%# COLUMN 1 %>
      <p>
        <span class="bold-label">Authors</span>
        <br><br>

        <span class="indented label-text">
          <%= link_to(build_producer_works_path(work_id: @work.try(:id)), class: "link-button", data: { turbo_stream: true }) do %>
          New Author &nbsp; &nbsp;+
        <% end %>
        </span>

        <br><br>
        <span class="indented label-text">
          <%= select_tag("authors", options_for_select(@producer_options), { include_blank: "Select Author", class: "select-button", data: { action: "change->works#selectProducer" }}) %>
        </span>
      </p>

      <%# COLUMN 2 %>
      <div id="sub_form_list" data-controller="dismissable">
        <% @work_producers.each do |work_producer| %>
          <div class="outline subFormContainer" data-dismissable-target="subForm">
            <%= form.fields_for :work_producers, work_producer do |t| %>
              <%= t.hidden_field :id %><%# work_producer id %>

              <div class="subform-line">
                <%# COLUMN 1 %>
                <b class="label-text label-column">
                  <span class="midline-offset">
                    Name:
                  </span>
                </b>

                <%# COLUMN 2 %>
                <%# display only; ignore on submit %>
                <%= text_field_tag(:_producer_name, work_producer.producer.name, readonly: true) %>
              </div>

              <div class="subform-line">
                <b class="label-text label-column">
                <span class="midline-offset">
                Role:
                </span>
                </b>

                <%# display only; ignore on submit %>
                <%= text_field_tag(:_work_producer_role, work_producer.role.titleize, readonly: true) %>
              </div>

              <%# FULL COLUMN %>
              <div class="subform-line" style="justify-content: flex-end;">
                <%= t.check_box :_destroy %>
                <b class="label-text danger" style="position:relative; top: 1px">Undo</b>
              </div>
            <% end %>
          </div>
       <% end %>
      </div>
    </li>

    <%# ROW 3 %>
    <li>
      <%# COLUMN 1 %>
      <%= form.button "Submit", type: "submit", name: "commit", value: "Submit", data: { disable_with: "Submit" } %>
    </li>
  </ul>
<% end %>