<div id="<%= dom_id work %>">
  <% if @children %>
    <%= work.publishing_format.humanize %>:
  <% end %>
  <%
    row_class = [
      (work.publishing_format_book? ? "work-title-std" : "work-title-alt"),
      (work.wishlist? ? "work-wishlist" : "work-collection")
    ]
  %>
  <%= tag.span(class: row_class) do %>
    <%= work.reference.full_title_line %>
  <% end %>
  <%= pipe_spacer %>
  <span class="quantity"><%= work.rating_stars %></span>
  <%= pipe_spacer %>
  <%= pointer_link(work) %>
  &nbsp;
</div>
