<div id="<%= dom_id work %>">
  <p>
    <%= link_to work.title, work, class: "index-link" %>
  </p>

  <p>
    <%= work.publisher&.name %>
  </p>

  <b>Authors</b>
  <ul>
    <% if work.work_producers.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% work.work_producers.each do |wp| %>
        <li>
          <i><%= wp.role.capitalize %></i>: <%= link_to wp.producer.name, wp.producer, class: "index-link" %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
