<div id="<%= dom_id work %>">
  <% row_class = work.publishing_format_book? ? "work-title-std" : "work-title-alt" %>
  <%= tag.span(class: row_class) do %>
    <%= full_title_line(work) %>
  <% end %>
  <%= pipe_spacer %>
  <%= rating_stars(work) %>
  <%= pipe_spacer %>
  <%= pointer_link(work) %>
  &nbsp;
</div>
