<%= form_with(model: @work) do |form| %>
  <%= turbo_stream.append "sub_form_list_producers" do %>
    <div class="outline subFormContainer" data-dismissable-target="subForm">
      <%= form.fields_for :work_producers, @work.work_producers.build do |t| %>
        <%= t.fields_for :producer_attributes, t.object.build_producer do |tt| %>

          <%# TODO: use flex for .subform-line everywhere %>
          <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Custom Name:</b>
          <%# COLUMN 2 %>
          <%= tt.text_field :custom_name %>
          </div>

          <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Given Name:</b>
          <%# COLUMN 2 %>
          <%= tt.text_field :given_name %>
          </div>

          <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Middle Name:</b>
          <%# COLUMN 2 %>
          <%= tt.text_field :middle_name %>
          </div>

          <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Family Name:</b>
          <%# COLUMN 2 %>
          <%= tt.text_field :family_name %>
          </div>

        <% end %>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Role:</b>

          <%# COLUMN 2 %>
          <%= t.select(:role, options_for_select(WorkProducer.role_options)) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <span class="clickable" data-action="click->dismissable#formDismiss">
              <b class="danger">ⓧ</b>
              <b class="danger">Cancel</b>
            </span>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>