<%= form_with(model: @work) do |form| %>
  <%= turbo_stream.append "sub_form_list" do %>
    <li class="subFormContainer">
      <%= form.fields_for :work_producers, @work.work_producers.build do |t| %>
        <div data-works-target="subForm">
          <b>role: </b>
          <%= t.select(:role, options_for_select(WorkProducer.roles.keys)) %>

          <%= t.fields_for :producer_attributes, t.object.build_producer do |tt| %>
            <b>name: </b>
            <%= tt.text_field :name %>
          <% end %>

          <span data-action="click->works#formDismiss" style="cursor: pointer">cancel ⓧ</span>
        </div>
      <% end %>
    </li>
  <% end %>
<% end %>