<%= form_with(model: @work) do |form| %>
  <%= turbo_stream.append "sub_form_list_producers" do %>
    <div class="outline subFormContainer" data-dismissable-target="subForm">
      <%= form.fields_for :work_producers, @work.work_producers.build do |t| %>
        <div class="subform-line">
          <%= t.fields_for :producer_attributes, t.object.build_producer do |tt| %>
            <%# COLUMN 1 %>
            <b>Name:</b>

            <%# COLUMN 2 %>
            <%= tt.text_field :name %>
          <% end %>
        </div>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Role:</b>

          <%# COLUMN 2 %>
          <%= t.select(:role, options_for_select(WorkProducer.role_options)) %>
        </div>

        <%# FULL COLUMN %>
        <div class="undo-label">
          <span class="clickable" data-action="click->dismissable#formDismiss">
          <b class="danger">ⓧ</b>
          <b class="danger">Cancel</b></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>