<p style="color: green"><%= notice %></p>

<div id="books-index"
     data-controller="sortable"
     data-sortable-request-helper-outlet=".request-helper"
     data-sortable-endpoint-value="/works">
  <h1>Books</h1>
  <hr>
  <div class="cloud-list">
    <%= link_to(works_path, style: "text-decoration: none;", data: { turbo_stream: true, action: "click->sortable#decorateTagClick", filter_value: "all" }) do %>
      <span class="model-tag all-tag">
        <span class="model-tag-name">
          All
        </span>
        <span class="model-tag-count">
          <%= @works_count %>
        </span>
      </span>
    <% end %>

    <% @tags_cloud.each do |tag, count| %>
      <%= link_to(works_path, style: "text-decoration: none;", data: { turbo_stream: true, action: "click->sortable#decorateTagClick", filter_value: tag }) do %>
        <span class="model-tag">
          <span class="model-tag-name">
            <%= tag %>
          </span>
          <span class="model-tag-count">
            <%= count %>
          </span>
        </span>
      <% end %>
    <% end %>

    <%= link_to(works_path, style: "text-decoration: none;", data: { turbo_stream: true, action: "click->sortable#decorateTagClick", filter_value: "untagged" }) do %>
      <span class="model-tag all-tag">
        <span class="model-tag-name">
          Untagged
        </span>
        <span class="model-tag-count">
          <%= @untagged_count %>
        </span>
      </span>
    <% end %>
  </div>
  <hr>
  <div id="works-collection">
    <%= text_field_tag(:search, nil, class: "search-box", data: { sortable_target: "search"}) %>
    <%= link_to("Search", "#", class: "search-button", data: { action: "click->sortable#search" }) %>
    |
    <%=
    select_options = [
      ["Title ▲", "title-asc"],
      ["Title ▼", "title-desc"],
      ["Year ▲", "year-asc"],
      ["Year ▼", "year-desc"],
      ["Rating ▲", "rating-asc"],
      ["Rating ▼", "rating-desc"]
    ]
    select_tag(
      "_order",
      options_for_select(select_options), {
        class: "select-button small-text",
        include_blank: "Sort",
        data: {
          action: "change->sortable#selectOrder"
        }
      })
    %>
    |
    <%=
    select_options = Work.formats.keys
    select_tag(
      "_order",
      options_for_select(select_options), {
        class: "select-button small-text",
        include_blank: "Format",
        data: {
          action: "change->sortable#selectFormat"
        }
      })
    %>

    <hr>

    <div id="works">
      <%= render "works" %>
    </div>
  </div>
  <hr>
  <div class="nav-links">
    <%= link_to "Back to top", root_path, class:"nav-button" %>
    <%= link_to "New Book", new_work_path, class: "nav-button nav-action" %>
  </div>
</div>