<p style="color: green"><%= notice %></p>

<h1>Works</h1>

<ul id="works">
  <% @works.each do |work| %>
    <li>
      <%= render work %>
      <%= link_to "Show this work", work, class: "index-link" %>
    </li>
  <% end %>
</ul>

<div class="nav-links">
  <%= link_to "New work", new_work_path %> |
  <%= link_to "Back to top", root_path %>
</div>
