<div id="books-index"
     data-controller="sortable"
     data-sortable-request-helper-outlet=".request-helper"
     data-sortable-endpoint-value="/works"
     data-action="keydown.enter->sortable#submitSearch">

  <b class="major-heading">Books</b>
  <hr>

  <%# stimulus %>
  <div class="cloud-list">
    <%= render("tags_cloud", tags_cloud: @tags_cloud, stimulus: true) %>
  </div>

  <hr>

  <div id="works-collection">
    <%= text_field_tag(:search, nil, class: "search-box", data: { action:"keydown.esc->sortable#clearSearch", sortable_target: "search"}) %>
    <%= link_to("Search", "#", class: "search-button", data: {
    sortable_target:"searchButton", action: "click->sortable#search" }) %>
    |
    <%# TODO: helper or partial here %>
    <%=
      select_tag(
        "_order",
        options_for_select(@sort_options), {
          class: "select-button small-text",
          include_blank: "Sort",
          data: {
            action: "change->sortable#selectOrder"
          }
        }
      )
    %>
    |
    <%=
      select_tag(
        "_order",
        options_for_select(@publishing_format_options), {
          class: "select-button small-text",
          include_blank: "Format",
          data: {
            action: "change->sortable#selectFormat"
          }
        }
      )
    %>
    |
    <%=
      select_tag(
        "_order",
        options_for_select(@language_options), {
          class: "select-button small-text",
          include_blank: "Language",
          data: {
            action: "change->sortable#selectLanguage"
          }
        }
      )
    %> |
    <%=
      select_tag(
        "_accession",
        options_for_select(@accession_options), {
          class: "select-button small-text",
          include_blank: "Accesssion",
          data: {
            action: "change->sortable#selectAccession"
          }
        }
      )
    %> |
    <%=
      select_tag(
        "_status",
        options_for_select(@status_options), {
          class: "select-button small-text",
          include_blank: "Status",
          data: {
            action: "change->sortable#selectStatus"
          }
        }
      )
    %>

    <hr>

    <%# index.turbo_stream.erb %>
    <div id="works" class="scrollable scrollable-short">
      <%= render "shared/alternating_list", collection: @works %>
    </div>
  </div>
  <hr>
  <div class="nav-links">
    <%= link_to "Back to top", root_path, class:"nav-button" %>
    <%= link_to "New Book", new_work_path, class: "nav-button nav-action-safe" %>
  </div>
</div>