<p style="color: green"><%= notice %></p>
<h1>Books</h1>

<div class="outline cloud-list">
  <% @tags_cloud.each do |tag, count| %>
    <%= link_to(works_path({ tag: tag }), style: "text-decoration: none;", data: { turbo_stream: true }) do %>
      <span class="model-tag">
        <span class="model-tag-name">
          <%= tag %>
        </span>
        <span class="model-tag-count">
          <%= count %>
        </span>
      </span>
    <% end %>
  <% end %>
  <%= link_to(works_path({ tag: "all" }), style: "text-decoration: none;", data: { turbo_stream: true }) do %>
    <span class="model-tag all-tag">
      <span class="model-tag-name">
        All
      </span>
      <span class="model-tag-count">
        <%= @works_count %>
      </span>
    </span>
  <% end %>
</div>

<div class="outline">
  <ul id="works">
    <%= render "works" %>
  </ul>
</div>

<div class="nav-links outline">
  <%= link_to "New Book", new_work_path, class: "link-button" %> |
  <%= link_to "Back to top", root_path, class:"nav-button" %>
</div>
