<p style="color: green"><%= notice %></p>

<h1>Works</h1>

<div class="outline">
  <ul id="works">
    <% @works.each do |work| %>
      <li>
        <%= render work %>
        <%= link_to "Show this work", work, class: "index-link" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="nav-links outline">
  <%= link_to "New work", new_work_path, class: "link-button" %> |
  <%= link_to "Back to top", root_path, class:"nav-button" %>
</div>
