<div id="books-index"
     data-controller="sortable"
     data-sortable-request-helper-outlet=".request-helper"
     data-sortable-endpoint-value="/works"
     data-action="keydown.enter->sortable#submitSearch">

  <b class="major-heading">Books</b>
  <hr>

  <details id="cloud-list-wrapper" open>
    <summary>Tags</summary>

    <%# stimulus %>
    <div class="cloud-list">
      <%= render("tags_cloud", tags_cloud: @tags_cloud, stimulus: true) %>
    </div>
  </details>
  <hr>

  <div id="works-collection">
    <%= render "index_filters" %>
    <hr>

    <%# index.turbo_stream.erb %>
    <div id="works" class="scrollable scrollable-short">
      <%= render "shared/alternating_list", collection: @works %>
    </div>
  </div>
  <hr>
  <div class="nav-links">
    <%= link_to "Back to Top", root_path, class:"nav-button" %>
    <%= link_to "New Book", new_work_path, class: "nav-button nav-action-safe" %>
  </div>
</div>