<%= form_with(model: @work) do |form| %>
  <%= turbo_stream.update "sub_form_list_publisher" do %>
    <div class="outline subFormContainer" data-dismissable-target="subForm">
      <%= form.hidden_field :publisher_id, value: @publisher.id %>
      <div class="subform-line">
        <%# COLUMN 1 %>
        <b>Name:</b>
        <%# COLUMN 2 %>
        <%# display only; ignore on submit %>
        <%= text_field_tag(:_publisher_name, @publisher.name, readonly: true) %>
      </div>

      <div class="subform-line">
        <%# COLUMN 1 %>
        <b>Location:</b>
        <%# COLUMN 2 %>
        <%# display only; ignore on submit %>
        <%= text_field_tag(:_publisher_location, @publisher.country_name, readonly: true) %>
      </div>

      <div class="subform-line">
        <b><%# spacer %></b>
        <span class="undo-label">
          <span class="clickable" data-action="click->dismissable#formDismiss">
            <b class="danger">ⓧ</b>
            <b class="danger">Cancel</b>
          </span>
        </span>
      </div>
    </div>
  <% end %>
<% end %>