<%= form_with(model: @work) do |form| %>
  <%= turbo_stream.append "sub_form_list_producers" do %>
    <div class="outline subFormContainer" data-dismissable-target="subForm">
      <%= form.fields_for :work_producers, @work.work_producers.build do |t| %>
        <%= t.hidden_field :producer_id, value: @producer.id %>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Name:</b>

          <%# COLUMN 2 %>
          <%# display only; ignore on submit %>
          <%# # TODO: avoid cache column %>
          <%= text_field_tag(:_producer_name, @producer.name, readonly: true) %>
        </div>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Role:</b>

          <%# COLUMN 2 %>
          <%= t.select(:role, options_for_select(WorkProducer.role_options)) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <span class="clickable" data-action="click->dismissable#formDismiss">
              <b class="danger">ⓧ</b>
              <b class="danger">Cancel</b>
            </span>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>