<%= form_with(model: @work) do |form| %>
  <%= turbo_stream.append "sub_form_list" do %>
    <li class="subFormContainer">
      <%= form.fields_for :work_producers, @work.work_producers.build do |t| %>
        <div data-dismissable-target="subForm">
          <b>role: </b>
          <%# works_controller %>
          <%= t.select(:role, options_for_select(WorkProducer.roles.keys)) %>

          <%= t.hidden_field :producer_id, value: @producer.id %>
          <%= @producer.name %>

          <span data-action="click->dismissable#formDismiss" style="cursor: pointer">cancel ⓧ</span>
        </div>
      <% end %>
    </li>
  <% end %>
<% end %>