<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @work %>" class="outline">
  <div class="book-card outline">
    <b>
      <%= title_line(@work) %>
    </b>

    <p class="small-text indented">
      <%= alternate_title_line(@work) %>
    </p>

    <p class="small-text indented">
      <%= byline(@work) %>
    </p>

    <p class="small-text indented">
      <%= publishing_line(@work) %>
    </p>

    <p class="small-text indented">
      <%= language_line(@work) %>
    </p>
  </div>

  <hr>

  <div style="margin-bottom: 1em; cloud-list;">
    <b>Tags</b>
  </div>

  <div style="margin-bottom: 1em;" class="cloud-list">
    <% @work.tags.each do |tag| %>
      <%= link_to(works_path({ tag: tag }), style: "text-decoration: none;", data: { turbo_stream: true, action: "click->sortable#decorateTagClick", filter_value: tag }) do %>
        <span class="model-tag">
          <span class="model-tag-name">
            <%= tag %>
          </span>
        </span>
      <% end %>
    <% end %>
  </div>

  <hr>
  <b>Authors</b>
  <ul class="associated-items">
    <% if @work.work_producers.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @work.work_producers.joins(:producer).merge(Producer.order(:name)).each do |wp| %>
        <li>
          <%= wp.role.titleize.split(" ").join("-") %>:
          <%= link_to wp.producer.name, wp.producer, class: "index-link" %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <hr>
  <b>Quotes</b>
  <div>
    Count: <%= @work.quotes.count %>
    <%= link_to("Go To Quotes 👉", work_quotes_path(@work), class: "index-link") %>
  </div>
</div>

<div class="nav-links outline">
  <%= link_to "Back to books", works_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %> |
  <%= link_to "Edit this work", edit_work_path(@work), class: "link-button" %> |
  <%= link_to "Destroy this work", @work, method: :delete, class: "link-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
