<div id="<%= dom_id @work %>">
  <b class="minor-heading"><%= @work.reference.long_title %></b>

  <details id="work-citation-wrapper" closed>
    <summary>Citation</summary>
    <div style="margin-bottom: 0.5rem;">
      <b>Bibliographic Entry</b>
    </div> 

    <% if @work.custom_citation.present? %>
      <div class="book-card outline bibliography-citation small-text">
        <%= markdown_render(@work.custom_citation) %>
      </div>
    <% end %>

    <% if @work.reference.chicago_bibliography.present? %>
      <div class="book-card outline bibliography-citation small-text">
        <%= markdown_render(@work.reference.chicago_bibliography) %>
      </div>
    <% end %>
  </details>

  <hr>
  <details id="work-details-wrapper" closed>
    <summary>Details</summary>
    <div class="work-details">
      <% if @work.parent_id %>
        <div>
          <span class="small-text">
            Part of: <%= @work.parent.title %>
          </span>
          <%= pipe_spacer %>
          <%= pointer_link(@work.parent) %>
        </div>
      <% end %>

      <% if @work.series? %>
        <div class="small-text" id="series-list">
          <span>
            <b>Part of Series</b>: <i><%= @work.series_title %></i>
          </span>
          <% @work.series_parts.pluck(:title, :id, :series_ordinal).each do |title, id, ordinal| %>
            <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
              <% if id == @work.id %>
                <b><%= ordinal %>: <%= title %></b>
              <% else %>
                <%= ordinal %>: <%= title %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @work.alternate_title.present? %>
        <p class="small-text">
          Also known as <span class="work-title-alt"><%= @work.alternate_title %></span>
        </p>
      <% end %>

      <% if @work.foreign_title.present? %>
        <p class="small-text">
          Also known as <span class="work-title-alt"><%= @work.foreign_title %></span>
        </p>
      <% end %>

      <p class="small-text">
        <b>Publisher:</b> <%= @work.reference.publisher_name %>
      </p>

      <p class="small-text">
        <b>Year of Publication:</b> <%= @work.reference.year_of_publication %>
      </p>

      <p class="small-text">
        <b>Year of Composition:</b> <%= @work.reference.year_of_composition %>
      </p>

      <p class="small-text">
        <b>Language:</b> <%= @work.reference.language_or_translation %>
      </p>

      <p class="small-text">
        <b>Cover:</b> <%= @work.cover&.humanize %>
      </p>

      <p class="small-text">
        <b>Condition:</b> <%= @work.condition&.humanize %>
      </p>
    </div>
  </details>
  
  <hr>

  <details id="work-status-wrapper" closed>
    <summary>Status</summary>
    <% if @work.wishlist %>
      <p class="small-text">
        <b class="danger">Wishlist item</b>
      </p>
    <% else %>
      <p class="small-text">
        <b>Date of Accession</b>:
        <% if @work.date_of_accession.present? %>
          <span class="display-date"><%= human_date_for(@work.date_of_accession) %></span>
        <% else %>
          <span class="danger">Unknown<span>
        <% end %>
      </p>

      <% if @work.accession_note.present? %>
        <p class="small-text">
          <b>Accession Note:</b> <%= @work.accession_note %>
        </p>
      <% end %>

      <p class="small-text">
        <b>Rating:</b>
        <span class="quantity"><%= @work.rating_stars %></span>
      </p>

      <p class="small-text">
        <b>Completion:</b>
        <% if @work.finished? %>
          <%= "Reading finished on #{human_time_for(@work.date_of_completion)}" %>
        <% else %>
          <span class="danger">Unread</span>
        <% end %>
      </p>
    <% end %>
  </details>
  <hr>


  <div style="margin-bottom: 1em; cloud-list;">
    <b>Tags</b>
  </div>

  <%# no stimulus %>
  <div class="cloud-list">
    <%= render("tags_cloud", tags_cloud: @work.tags, stimulus: false) %>
  </div>

  <hr>
  <div style="margin-bottom: 0.5rem;">
    <b>Authors</b>
  </div>
  <div class="associated-items">
    <%= render "shared/alternating_list", collection: @work_producers %>
  </div>

  <% if @work.children.any? %>
    <hr>
    <div style="margin-bottom: 0.5rem;">
      <b>Parts</b>
    </div>
    <div class="associated-items" class="scrollable">
      <%# TODO: improve n+1 in WorksHelper#byline %>
      <%= render "shared/alternating_list", collection: @children %>
    </div>
  <% end %>

  <hr>

  <div style="margin-bottom: 0.5rem;">
    <b>Quotes</b>
    <%= pipe_spacer %>
    <%= pointer_link(work_quotes_path(@work)) %>
  </div>
  <div>
    Count: <b class="quantity"><%= @work.quotes.count %></b>
  </div>

  <hr>
  <div style="margin-bottom: 0.5rem;">
    <b>Notes</b>
    <%= pipe_spacer %>
    <%= pointer_link(work_notes_path(@work)) %>
  </div>
  <div>
    Count: <b class="quantity"><%= @work.notes.count %></b>
  </div>
                       
  <% if Flipper.enabled?(:reading_sessions) %>
    <hr>
    <div style="margin-bottom: 0.5rem;">
      <b>Reading Sessions</b>
      <%= pipe_spacer %>
      <%= pointer_link(work_reading_sessions_path(@work)) %>
    </div>
    <div>
      Count: <b class="quantity"><%= @work.reading_sessions.count %></b><br>
      Aggregate Time: <b class="quantity"><%= human_duration(@work.reading_sessions_minutes) %></b>
    </div>
  <% end %>
</div>

<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to Books", works_path, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class: "nav-button" %>
  <%= link_to "Edit", edit_work_path(@work), class: "nav-button nav-action-safe" %>
  <%= html_delete_button(@work, "Destroy") %>
</div>
