<b class="minor-heading"><%= title_line(@work) %></b>

<div id="<%= dom_id @work %>" class="outline">
  <% if @work.custom_citation.present? %>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@work.custom_citation) %>
    </div>
  <% end %>

  <% if @bibliography %>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@bibliography) %>
    </div>
  <% end %>

  <% if @work.parent_id %>
    <div>
      <span class="small-text">
        Part of: <%= @work.parent.title %>
      </span>
      <%= pipe_spacer %>
      <%= pointer_link(@work.parent) %>
    </div>
  <% end %>

  <% if @work.alternate_title.present? %>
    <p class="small-text">
      Also known as <span class="work-title-alt"><%= @work.alternate_title %></span>
    </p>
  <% end %>

  <% if @work.foreign_title.present? %>
    <p class="small-text">
      Also known as <span class="work-title-alt"><%= @work.foreign_title %></span>
    </p>
  <% end %>

  <p class="small-text">
    <b>Publisher:</b> <%= @work.reference.publisher_name %>
  </p>

  <p class="small-text">
    <b>Year of Publication:</b> <%= @work.reference.year_of_publication %>
  </p>

  <p class="small-text">
    <b>Year of Composition:</b> <%= @work.reference.year_of_composition %>
  </p>

  <p class="small-text">
    <b>Language:</b> <%= language_line(@work) %>
  </p>

  <p class="small-text">
    <b>Rating:</b> <%= rating_stars(@work) %>
  </p>

  <p class="small-text">
    <b>Status:</b> <%= @work.finished? ? "Reading finished on #{human_time_for(@work.date_of_completion)}" : "Unread" %>
  </p>

  <% if @work.date_of_accession %>
    <p class="small-text">
      <b>Accession Date:</b> <%= human_time_for(@work.date_of_accession) %>
    </p>
  <% end %>

  <% if @work.accession_note.present? %>
    <p class="small-text">
      <b>Accession Note:</b> <%= @work.accession_note %>
    </p>
  <% end %>

  <hr>

  <div style="margin-bottom: 1em; cloud-list;">
    <b>Tags</b>
  </div>

  <%# no stimulus %>
  <div class="cloud-list">
    <%= render("tags_cloud", tags_cloud: @work.tags, stimulus: false) %>
  </div>

  <hr>
  <div style="margin-bottom: 0.5rem;">
    <b>Authors</b>
  </div>
  <div class="associated-items">
    <%= render "shared/alternating_list", collection: @work_producers %>
  </div>

  <% if @work.children.any? %>
    <hr>
    <div style="margin-bottom: 0.5rem;">
      <b>Parts</b>
    </div>
    <div class="associated-items" class="scrollable">
      <%# TODO: improve n+1 in WorksHelper#byline %>
      <%= render "shared/alternating_list", collection: @work.children.joins(:producers).includes(:producers), partial: "works/child" %>
    </div>
  <% end %>

  <hr>

  <div style="margin-bottom: 0.5rem;">
    <b>Quotes</b>
    <%= pipe_spacer %>
    <%= pointer_link(work_quotes_path(@work)) %>
  </div>
  <div>
    Count: <b class="quantity"><%= @work.quotes.count %></b>
  </div>

  <hr>
  <div style="margin-bottom: 0.5rem;">
    <b>Notes</b>
    <%= pipe_spacer %>
    <%= pointer_link(work_notes_path(@work)) %>
  </div>
  <div>
    Count: <b class="quantity"><%= @work.notes.count %></b>
  </div>
  <hr>

  <div style="margin-bottom: 0.5rem;">
    <b>Reading Sessions</b>
    <%= pipe_spacer %>
    <%= pointer_link(work_reading_sessions_path(@work)) %>
  </div>
  <div>
    Count: <b class="quantity"><%= @work.reading_sessions.count %></b><br>
    Aggregate Time: <b class="quantity"><%= human_duration(@work.reading_sessions_minutes) %></b>
  </div>
</div>

<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to books", works_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
  <%= link_to "Edit this work", edit_work_path(@work), class: "nav-button nav-action-safe" %>
  <%= html_delete_button(@work, "Destroy Book") %>
</div>
