<p style="color: green"><%= notice %></p>

<%= render @work %>

<h2>Authors</h2>
<ul>
  <% if @producer_credits.empty? %>
    <span class="empty-list">EMPTY</span>
  <% else %>
    <% @producer_credits.each do |role, name| %>
      <li>
        <i><%= role %></i>: <%= name %>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="nav-links">
  <%= link_to "Edit this work", edit_work_path(@work) %> |
  <%= link_to "Back to works", works_path %> |

  <%= link_to "Destroy this work", @work, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
