<p style="color: green"><%= notice %></p>

<div class="outline">
  <%= render @work %>

  <b>Authors</b>
  <ul>
    <% if @producer_credits.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @producer_credits.each do |role, name| %>
        <li>
          <i><%= role.capitalize %></i>: <%= name %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="nav-links outline">
  <%= link_to "Edit this work", edit_work_path(@work), class: "link-button" %> |
  <%= link_to "Destroy this work", @work, method: :delete, class: "link-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Back to works", works_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>
