<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @work %>" class="outline">
  <b>
    <%= title_line(@work) %>
  </b>

  <p class="small-text indented">
    <%= alternate_title_line(@work) %>
  </p>

  <p class="small-text indented">
    <%= byline(@work) %>
  </p>

  <p class="small-text indented">
    <%= publishing_line(@work) %>
  </p>

  <p class="small-text indented">
    <%= language_line(@work) %>
  </p>
  <hr>

  <div style="margin-bottom: 1em">
    <b>Tags</b>
  </div>

  <div style="margin-bottom: 1em">
    <% @work.tags.each do |tag| %>
      <span class="model-tag">
        <span class="model-tag-name">
          <%= tag %>
        </span>
      </span>
    <% end %>
  </div>

  <hr>
  <b>Authors</b>
  <ul class="associated-items">
    <% if @work.work_producers.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @work.work_producers.joins(:producer).merge(Producer.order(:name)).each do |wp| %>
        <li>
          <%= wp.role.titleize.split(" ").join("-") %>:
          <%= link_to wp.producer.name, wp.producer, class: "index-link" %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <hr>
  <b>Quotes</b>
  <div>
    Count: <%= @work.quotes.count %>
    <%= link_to("Go To Quotes 👉", work_quotes_path(@work), class: "index-link") %>
  </div>
</div>

<div class="nav-links outline">
  <%= link_to "Edit this work", edit_work_path(@work), class: "link-button" %> |
  <%= link_to "Destroy this work", @work, method: :delete, class: "link-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Back to books", works_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>
