<p style="color: green"><%= notice %></p>

<b><%= @work.title %></b>
<hr>
<div id="<%= dom_id @work %>" class="outline">
  <% if @work.custom_citation.present? %>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@work.custom_citation) %>
    </div>
  <% end %>

  <% if @work.citation? %>
    <div class="book-card outline bibliography-citation small-text">
      <%= raw markdown.render(@work.bibliography_markdown) %>
    </div>
  <% end %>

  <% if @work.parent_id %>
    <div>
    <span class="small-text"><%= @work.parent.format %>: <%= @work.parent.title %></span> <%= link_to "👉", @work.parent, class: "index-link" %>
    </div>
  <% end %>

  <p class="small-text">
    <%= alternate_title_line(@work) %>
  </p>

  <p class="small-text">
    <%= language_line(@work) %>
  </p>

  <p class="small-text">
    rating: <%= rating_stars(@work) %>
  </p>

  <hr>

  <div style="margin-bottom: 1em; cloud-list;">
    <b>Tags</b>
  </div>

  <div class="cloud-list">
    <% @work.tags.each do |tag| %>
      <%= link_to(works_path({ tag: tag }), style: "text-decoration: none;", data: { turbo_stream: true, action: "click->sortable#decorateTagClick", filter_value: tag }) do %>
        <span class="model-tag">
          <span class="model-tag-name">
            <%= tag %>
          </span>
        </span>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div style="margin-bottom: 0.5rem;">
    <b>Authors</b>
  </div>

  <div class="associated-items">
    <% if @work.work_producers.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @work.work_producers.joins(:producer).merge(Producer.order(:name)).each.with_index do |wp, i| %>
        <% class_list = ["div-list-row"]; class_list << "alt-row" if i.even? %>
        <%= tag.div(**{ class: class_list }) do %>
          <span class="small-text"><%= wp.role.titleize.split(" ").join("-") %>: <%= wp.producer.name %></span>
          <%= link_to "👉", wp.producer, class: "index-link" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if @work.compilation? %>
    <hr>
    <div style="margin-bottom: 0.5rem;">
      <b>Parts</b>
    </div>
    <div class="associated-items">
      <% if @work.children.empty? %>
        <span class="empty-list">EMPTY</span>
      <% else %>
        <% @work.children.each.with_index do |child, i| %>
          <% class_list = ["div-list-row"]; class_list << "alt-row" if i.even? %>
          <%= tag.div(**{ class: class_list }) do %>
            <span class="small-text"><%= child.format %>: <%= child.title %></span>
            <%= link_to "👉", child, class: "index-link" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <hr>

  <div style="margin-bottom: 0.5rem;">
    <b>Quotes</b>
    <%= link_to("👉", work_quotes_path(@work), class: "index-link") %>
  </div>
  <div>
    Count: <b class="stars"><%= @work.quotes.count %></b>
  </div>

  <hr>
  <div style="margin-bottom: 0.5rem;">
    <b>Notes</b>
    <%= link_to("👉", work_notes_path(@work), class: "index-link") %>
  </div>
  <div>
    Count: <b class="stars"><%= @work.notes.count %></b>
  </div>
  <hr>

  <div style="margin-bottom: 0.5rem;">
    <b>Reading Sessions</b>
    <%= link_to("👉", work_reading_sessions_path(@work), class: "index-link") %>
  </div>
  <div>
    Count: <b class="stars"><%= @work.reading_sessions.count %></b><br>
    Aggregate Time: <b class="stars"><%= human_duration(@work.reading_sessions_minutes) %></b>
  </div>
</div>

<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to books", works_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
  <%= link_to "Edit this work", edit_work_path(@work), class: "nav-button nav-action" %>
  <%= html_delete_button(@work, "Destroy Book") %>
</div>
