<% if @publishers.empty? %>
  <div class="div-list-row empty-list">EMPTY</div>
<% else %>
  <% @publishers.each do |publisher| %>
    <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
      <%= publisher.name %>
      <%= pipe_spacer %>
      <span class="quantity"><%= publisher.works_count %></span>
      <%= pipe_spacer %>
      <%= pointer_link(publisher) %>
    <% end %>
  <% end %>
<% end %>