<p style="color: green"><%= notice %></p>

<div id="publishers-index" data-controller="sortable" data-sortable-request-helper-outlet=".request-helper">
  <b class="minor-heading">Publishers</b>
  <hr>
  <div data-controller="publishers">
    <%=
    select_options = [
      ["Name ▲", "name-asc"],
      ["Name ▼", "name-desc"],
      ["works count ▲", "works_count-asc"],
      ["works count ▼", "works_count-desc"]
    ]
    select_tag(
      "_order",
      options_for_select(select_options), {
        class: "select-button small-text",
        include_blank: "Sort",
        data: {
          action: "change->sortable#selectOrder",
          action_url: "/publishers"
        }
      })
    %>

    <hr>
    <div id="publishers" class="scrollable">
      <%= render("publishers") %>
    </div>
  </div>
  <hr>
  <div class="nav-links">
    <%= link_to "Back to top", root_path, class:"nav-button" %>
    <%= link_to "New publisher", new_publisher_path, class: "nav-button nav-action"  %>
  </div>
</div>
