<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @publisher %>">
  <b><%= @publisher.name %></b>
  <div class="outline">
    <b>Books</b> <span class="stars"><%= @publisher.works_count || 0 %></span>
    <div class="associated-items">
      <% if @publisher.works.empty? %>
        <div class="div-list-row empty-list">EMPTY</div>
      <% else %>
        <% @publisher.works.order(:title).each do |work| %>
          <%= tag.div(**{ class: cycle("div-list-row", "div-list-row alt-row") }) do %>
            <%= work.title %> |
            <%= link_to "👉", work, class: "index-link" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to publishers", publishers_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
  <%= link_to "Edit this publisher", edit_publisher_path(@publisher), class: "nav-button nav-action" %>
  <%= html_delete_button @publisher, "Destroy this publisher" %>
</div>