<div id="<%= dom_id @publisher %>">
  <b class="minor-heading"><%= @publisher.name %></b>
  <div class="outline">
    <b>Books</b> <span class="quantity"><%= @publisher.works_count %></span>
    <div class="associated-items" class="scrollable">
      <%= render("shared/alternating_list", collection: @publisher.works.joins(:producers).includes(:producers)) %>
    </div>
  </div>
</div>
<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to publishers", publishers_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
  <%= link_to "Edit this publisher", edit_publisher_path(@publisher), class: "nav-button nav-action-safe" %>
  <%= html_delete_button @publisher, "Destroy this publisher" %>
</div>