<div data-controller="homepage"
  data-homepage-request-helper-outlet=".request-helper"
  data-homepage-endpoint-value="/">
  <h1 class="max-heading">BOOKSHELF</h1>
  <p>A personal library catalog, note-taking, and reading and writing app</p>
  <hr>
  <div
    id="tabbed-summaries"
    data-controller="tabs"
    data-tabs-tab-selected-class="tab-selected"
    data-tabs-tab-content-selected-class="tab-content-selected">

    <div class="tab tab-selected" data-action="click->tabs#selectTab" data-tabs-target="tab" data-tabs-select-param="metrics">
      Metrics
    </div>

    <% if Flipper.enabled?(:reading_sessions) %>
    <div class="tab" data-action="click->tabs#selectTab" data-tabs-target="tab" data-tabs-select-param="graph">
      Reading Graph
    </div>
    <% end %>

    <%= render "summary_tab" %>

    <% if Flipper.enabled?(:reading_sessions) %>
      <%= render "graph_tab" %>
    <% end %>
  </div>

  <hr>
  <div class="nav-links">
    <%= link_to("Books", works_path, class: "nav-button") %>
    <%= link_to("Authors", producers_path, class: "nav-button") %>
    <%= link_to("Publishers", publishers_path, class: "nav-button") %>
    <%= link_to("Quotes", quotes_path, class: "nav-button") %>
  </div>
</div>