<%= form_with(model: producer, html: { class: "table-form" }, data: { controller: "producers", producers_id_value: @producer.id, producers_request_helper_outlet: ".request-helper" }) do |form| %>
  <%= render("shared/form_errors", form: form) %>

  <%= form.label :custom_name %>
  <%= form.text_field :custom_name %>

  <%= form.label :given_name %>
  <%= form.text_field :given_name %>

  <%= form.label :middle_name %>
  <%= form.text_field :middle_name %>

  <%= form.label :family_name %>
  <%= form.text_field :family_name %>

  <%= form.label :foreign_name %>
  <%= form.text_field :foreign_name %>

  <%= form.label :nationality %>
  <%= form.text_field :nationality, { list: "work_nationalities_datalist" } %>
  <%= content_tag(:datalist, nil, id: :work_nationalities_datalist, 'data-autocomplete-input-target' => :datalist) do %>
    <% Producer.nationality_options.each do |nationality| %>
      <%=
        content_tag(
          :option,
          nil,
          value: nationality,
          'data-autocomplete-input-target' => 'datalistOption'
        )
      %>
    <% end %>
  <% end %>

  <%= form.label :bio_link %>
  <%= form.text_field :bio_link %>

  <%= form.label :birth_year %>
  <%= form.number_field :birth_year %>

  <%= form.label :death_year %>
  <%= form.number_field :death_year %>

  <hr>
  <hr>

  <div class="label-group">
    <%= form.label :books %>
    <%= link_to(build_work_producers_path(producer_id: @producer.try(:id)),class: "link-button", data: { turbo_stream: true }) do %>
      New Book &nbsp;+
    <% end %>
    <%= select_tag("books", options_for_select(@work_options), { include_blank: "Select Book", class: "select-button small-text", data: { action: "change->producers#selectWork" }}) %>
  </div>

  <%# COLUMN 2 %>
  <div class="subFormListSection" id="sub_form_list" data-controller="dismissable">
    <% @work_producers.each do |work_producer| %>
      <div class="outline subFormContainer" data-dismissable-target="subForm">
        <%= form.fields_for :work_producers, work_producer do |t| %>
          <%= t.hidden_field :id %><%# work_producer id %>

          <div class="subform-line">
            <%# COLUMN 1 %>
            <b>Title:</b>

            <%# COLUMN 2 %>
            <%# display only; ignore on submit %>
            <%= text_field_tag(:_work_title, work_producer.work.title, readonly: true) %>
          </div>

          <div class="subform-line">
            <b>Role:</b>
            <%# display only; ignore on submit %>
            <%= text_field_tag(:_work_producer_role, work_producer.role.titleize, readonly: true) %>
          </div>

          <div class="subform-line">
            <b><%# spacer %></b>
            <span class="undo-label">
              <%= t.check_box :_destroy %>
              <b class="danger">Undo</b>
            </span>
          </div>

        <% end %>
      </div>
    <% end %>
  </div>

  <hr>
  <hr>
  <%= form.submit %>
<% end %>