<%= form_with(model: producer, data: { controller: "producers", producers_works_value: @work_options, producers_workscount_value: @producer.works.size }) do |form| %>
    <%= render("shared/form_errors", form: form) %>

  <ul class="flex-outer">
    <li>
      <%= form.label :name %>
      <%= form.text_field :name, { placeholder: "author name required" } %>
    </li>
    <li>
      <p>
      Books
      <br>
      <%= link_to("New Book +", nil, { data: { action: "click->producers#appendForm" }}) %>
      </p>
      <ul class="flex-inner" data-works-target="newWorksList">
        <%# JS %>

        <% @producer.works.each do |work| %>
          <li class="appendedWorkForm">
            <%= form.fields_for :works, work do |t| %>
              <%= t.hidden_field :id %>

              <b><%= work.title %></b>

              <label><%= t.check_box :_destroy %> remove</label>
              <br>
            <% end %>
          </li>
        <% end %>

      </ul>
    </li>
    <li>
      <%= form.button "Submit", type: "submit", name: "commit", value: "Submit", data: { disable_with: "Submit" } %>
    </li>
  </ul>
<% end %>
