<%= form_with(model: producer, data: { controller: "producers", producers_id_value: @producer.id }) do |form| %>
  <%= render("shared/form_errors", form: form) %>
  <ul class="flex-outer">
    <%# ROW 1 %>
    <li>
      <%# COLUMN 1 %>
      <%= form.label :name %>
      <%# COLUMN 2 %>
      <%= form.text_field :name, { placeholder: "name required" } %>
    </li>

    <%# ROW 2 %>
    <li>
      <%# COLUMN 1 %>
      <p>
        Works
        <br>
        <%= link_to("New Book +", build_work_producers_path(producer_id: @producer.try(:id)), data: { turbo_stream: true }) %>
        <br>

        <i>choose existing work</i>:
        <br>
        <%=
        select_tag(
          "works",
          options_for_select(@work_options),
          {
            include_blank: true,
            data: {
              action: "change->producers#selectWork"
            }
          }
        )
        %>
      </p>

      <%# COLUMN 2 %>
      <ul class="flex-inner" id="sub_form_list" data-controller="dismissable">
        <% @work_producers.each do |work_producer| %>
          <li class="subFormContainer">
            <%= form.fields_for :work_producers, work_producer do |t| %>
              <div data-dismissable-target="subForm">
                <%= "#{work_producer.role}: #{work_producer.work.title}" %>
                <%= t.hidden_field :id %>
                <b>remove</b><%= t.check_box :_destroy %>
              </div>
            <% end %>
          </li>
       <% end %>
      </ul>
    </li>

    <%# ROW 3 %>
    <li>
      <%# COLUMN 1 %>
      <%= form.button "Submit", type: "submit", name: "commit", value: "Submit", data: { disable_with: "Submit" } %>
    </li>
  </ul>
<% end %>