<div id="<%= dom_id producer %>">
  <%# TODO: helper %>
  <%= "#{producer.full_name} #{common_era_span(producer.year_of_birth, producer.year_of_death)}" %>

  <%= pipe_spacer %>

  <span class="quantity">
  <%= (producer.works_count) %>
  </span>
  
  <%= pipe_spacer %>
  <%= pointer_link(producer) %>
</div>