<%= form_with(model: @producer) do |form| %>
  <%= turbo_stream.append "sub_form_list" do %>
    <li class="subFormContainer">
      <%= form.fields_for :work_producers, @producer.work_producers.build do |t| %>
        <b>role: </b>
        <div data-dismissable-target="subForm">
          <b>role: </b>
          <%= t.select(:role, options_for_select(WorkProducer.roles.keys)) %>

          <%= t.fields_for :work_attributes, t.object.build_work do |tt| %>
            <b>title: </b>
            <%= tt.text_field :title %>
          <% end %>

          <span data-action="click->dismissable#formDismiss" style="cursor: pointer">cancel ⓧ</span>
        </div>
      <% end %>
    </li>
  <% end %>
<% end %>