<%= form_with(model: @producer) do |form| %>
  <%= turbo_stream.append "sub_form_list" do %>
    <div class="outline subFormContainer" data-dismissable-target="subForm">
      <%= form.fields_for :work_producers, @producer.work_producers.build do |t| %>
        <div class="subform-line">
          <%= t.fields_for :work_attributes, t.object.build_work do |tt| %>
            <%# COLUMN 1 %>
            <b>Title:</b>

            <%# COLUMN 2 %>
            <%= tt.text_field :title %>
          <% end %>
        </div>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b>Role:</b>

          <%# COLUMN 2 %>
          <%= t.select(:role, options_for_select(WorkProducer.role_options)) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <span class="clickable" data-action="click->dismissable#formDismiss">
              <b class="danger">ⓧ</b>
              <b class="danger">Cancel</b>
            </span>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>