<p style="color: green"><%= notice %></p>

<div id="producers-index"
     data-controller="sortable"
     data-sortable-request-helper-outlet=".request-helper"
     data-sortable-endpoint-value="/producers">
  <h1>Authors</h1>
  <div data-controller="producers">
    <%= text_field_tag(:search, nil, class: "search-box", data: { sortable_target: "search"}) %>
    <%= link_to("Search", "#", class: "search-button", data: { action: "click->sortable#search" }) %>
    <%=
    select_options = [
      ["Name ▲", "full_name-asc"],
      ["Name ▼", "full_name-desc"],
      ["works count ▲", "works_count-asc"],
      ["works count ▼", "works_count-desc"]
    ]
    select_tag(
      "_order",
      options_for_select(select_options), {
        class: "select-button small-text",
        include_blank: "Sort",
        data: {
          action: "change->sortable#selectOrder"
        }
      })
    %>
    <hr>

    <div id="producers">
      <%= render("producers") %>
    </div>
  </div>
  <hr>
  <div class="nav-links">
    <%= link_to "Back to top", root_path, class: "nav-button" %>
    <%= link_to "New author", new_producer_path, class: "nav-button nav-action" %>
  </div>
</div>
