<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<div class="outline">
  <ul id="producers">
    <% if @producers.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @producers.each do |producer| %>
        <li>
          <%= render producer %>
          <%= link_to "Show this author", producer, class: "index-link" %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>


<div class="nav-links outline">
  <%= link_to "New author", new_producer_path, class: "link-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>