<p style="color: green"><%= notice %></p>

<h1>Authors</h1>

<ul id="producers">
  <% @producers.each do |producer| %>
    <li>
      <%= render producer %>
      <%= link_to "Show this author", producer, class: "index-link" %>
    </li>
  <% end %>
</ul>


<div class="nav-links">
  <%= link_to "New author", new_producer_path %> |
  <%= link_to "Back to top", root_path %>
</div>