<%= form_with(model: @producer) do |form| %>
  <%= turbo_stream.append "sub_form_list" do %>
    <div class="subFormContainer" data-dismissable-target="subForm">
      <%= form.fields_for :work_producers, @producer.work_producers.build do |t| %>
        <%= t.hidden_field :work_id, value: @work.id %>

        <div class="subform-line">
          <b style="font-size:smaller">Title: </b><%= @work.title %>
        </div>

        <div class="subform-line">
          <b style="font-size:smaller">Role: </b><%= t.select(:role, options_for_select(WorkProducer.roles.keys)) %>
        </div>

        <div class="subform-line">
          <span data-action="click->dismissable#formDismiss" style="cursor: pointer; "><b style="font-size:smaller">ⓧ</b> <b style="font-size: smaller; color: red; position:relative; bottom: 1px">cancel</b></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>