<%= form_with(model: @producer) do |form| %>
  <%= turbo_stream.append "sub_form_list" do %>
    <div class="subFormContainer outline" data-dismissable-target="subForm">
      <%= form.fields_for :work_producers, @producer.work_producers.build do |t| %>
        <%= t.hidden_field :work_id, value: @work.id %>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b class="label-text label-column">
            <span class="midline-offset">
              Name:
            </span>
          </b>
          <%# COLUMN 2 %>
          <%# display only; ignore on submit %>
          <%= text_field_tag(:_work_title, @work.title, readonly: true) %>
        </div>

        <div class="subform-line">
          <%# COLUMN 1 %>
          <b class="label-text label-column">
            <span class="midline-offset">
            Role:
            </span>
          </b>

          <%# COLUMN 2 %>
          <%= t.select(:role, options_for_select(WorkProducer.role_options)) %>
        </div>

        <div class="subform-line">
          <b><%# spacer %></b>
          <span class="undo-label">
            <span class="clickable" data-action="click->dismissable#formDismiss">
              <b class="danger">ⓧ</b>
              <b class="danger">Cancel</b>
            </span>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>