<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @producer %>" class="outline">
  <b><%= @producer.name %></b>

  <p class="small-text indented">
    <%= life_line(@producer) %>
  </p>

  <p class="small-text indented">
    <% if @producer.bio_link.present? %>
      <%= link_to("bio", @producer.bio_link, { class: "small-text index-link", target: "_blank" }) %>
    <% end %>
  </p>

  <hr>
  <b>Books</b>
  <div class="associated-items">
    <% if @producer.works.empty? %>
      <div class="div-list-row empty-list">EMPTY</div>
    <% else %>
      <% @producer.work_producers.joins(:work).merge(Work.order(:title)).each.with_index do |wp, i| %>
        <% class_list = ["div-list-row"]; class_list << "alt-row" if i.even? %>
        <%= tag.div(**{ class: class_list }) do %>
          <%= wp.role.capitalize %>: <%= wp.work.title %> | <%= link_to "👉", wp.work, class: "index-link" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to authors", producers_path, class: "nav-button" %>
  <%= link_to "Back to top", root_path, class: "nav-button" %>
  <%= link_to "Edit this author", edit_producer_path(@producer), class: "nav-button nav-action" %>
  <%= html_delete_button @producer, "Destroy this author" %>
</div>
