<p style="color: green"><%= notice %></p>

<%= render @producer %>

<h2>Works</h2>
<ul>
  <% if @work_credits.empty? %>
    <span class="empty-list">EMPTY</span>
  <% else %>
    <% @work_credits.each do |role, title| %>
      <li>
        <i><%= role %></i>: <%= title %>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="nav-links">
  <%= link_to "Edit this producer", edit_producer_path(@producer) %> |
  <%= link_to "Back to producers", producers_path %> |

  <%= link_to "Destroy this producer", @producer, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
