<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @producer %>" class="outline">
  <b><%= @producer.name %></b>

  <hr>
  <b>Works</b>
  <ul>
    <% if @producer.works.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @producer.work_producers.joins(:work).pluck(:role, :title).each do |role, title| %>
        <li>
          <%= role.capitalize %>: <%= title %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="nav-links outline">
  <%= link_to "Edit this author", edit_producer_path(@producer), class: "link-button" %> |
  <%= link_to "Destroy this record", @producer, method: :delete, class: "link-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Back to authors", producers_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>
