<b class="minor-heading">
  <%= @producer.full_name %>
</b>

<div id="<%= dom_id @producer %>" class="outline">
  <%# TODO: more bio views %>
  <p class="small-text indented">
    <%= @producer.biography.context %>
  </p>
  <% if @producer.bio_link.present? %>
    <hr>
    <p class="small-text indented">
      <%= link_to("bio", @producer.bio_link, { class: "small-text index-link", target: "_blank" }) %>
    </p>
  <% end %>

  <hr>
  <b>Books</b>
  <div class="associated-items" class="scrollable">
    <%= render("shared/alternating_list", collection: @work_producers) %>
  </div>

  <hr>
  <div style="margin-bottom: 0.5rem;">
    <b>Notes</b>
    <%= pipe_spacer %>
    <%= pointer_link(producer_notes_path(@producer)) %>
  </div>
  <div>
    Count: <b class="quantity"><%= @producer.notes.count %></b>
  </div>
</div>


<hr>
<div class="nav-links" data-controller="confirmable">
  <%= link_to "Back to Authors", producers_path, class: "nav-button" %>
  <%= link_to "Back to Top", root_path, class: "nav-button" %>
  <%= link_to "Edit", edit_producer_path(@producer), class: "nav-button nav-action-safe" %>
  <%= html_delete_button @producer, "Destroy" %>
</div>
