<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @producer %>" class="outline">
  <b><%= @producer.name %></b>

  <p class="small-text indented">
    <%= life_line(@producer) %>
  </p>

  <p class="small-text indented">
    <% if @producer.bio_link.present? %>
      <%= link_to("bio", @producer.bio_link, { class: "small-text index-link", target: "_blank" }) %>
    <% end %>
  </p>

  <hr>
  <b>Books</b>
  <ul class="associated-items">
    <% if @producer.works.empty? %>
      <span class="empty-list">EMPTY</span>
    <% else %>
      <% @producer.work_producers.joins(:work).merge(Work.order(:title)).each do |wp| %>
        <li>
          <%= wp.role.capitalize %>: <%= link_to(wp.work.title, wp.work, class: "index-link") %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="nav-links outline">
  <%= link_to "Edit this author", edit_producer_path(@producer), class: "link-button" %> |
  <%= link_to "Destroy this record", @producer, method: :delete, class: "link-button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
  <%= link_to "Back to authors", producers_path, class: "nav-button" %> |
  <%= link_to "Back to top", root_path, class: "nav-button" %>
</div>
