<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="controller-notice" data-controller="dismissable" data-dismissable-target="notice">
        <%= notice %>
        <span class="dismisser"
              data-action="click->dismissable#dismissNotice">
          ⓧ
        </span>
      </p>
    <% end %>

    <%= yield %>
  </body>

  <%# shared %>
  <%# DEBUG: this _is_ getting disconnected/re-connected with every page %>
  <div
    class="request-helper"
    style="display:none;"
    data-controller="request-helper">
  </div>
</html>
